/* Navigation Bar */
.logo-text {
    font-size: larger;
    font-weight: 900;
    font-style: italic;
    font-family: -webkit-pictograph;
    text-decoration: none;
    color: inherit;
}

.spacer {
    flex: 1 1 auto;
}

.fxRow {
    display: flex;
    flex-direction: row;
}

.fxAlignCenter {
    align-items: center;
}

.navbar-logo > span {
    margin-left: 5px;
}

/* Content */
.content {
    margin: 35px 24px;
}


/* Categories Component */
.img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px rgba(0,0,0,.8);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; 
}

/*  */
.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.actions .MuiButton-root {
    margin-right: 8px;
}

.actions .MuiButton-root > span {
    text-transform: none;
}